<form action="/signup-post" method="post">
    <!-- <label for="id">id:</label> -->
    <input name='id' type="number">
    <br>
    <br>
    <!-- <label for="username">username:</label> -->
    <input  name='username' type="text">
    <br>
    <br>
    <!-- <label for="fullname">fullname:</label> -->
    <input  name='fullname' type="text">
    <br>
    <br>
    <!-- <label for="password">password:</label> -->
    <input  name='password' type="password">
    <br>
    <button type="submit">  ثبت نام </button>
    
    
</form>